@model IEnumerable<Airlines.ViewModels.PlaatsVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/plaatsen.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/plaatsKnoppen.css" asp-append-version="true" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<div class="blokPagina">
<h1>Welke vluchten wenst u?</h1>
<h2>Kies jouw vertrekplaats</h2>
<br/>
<div class="radio-input">
    @foreach (var item in Model)
    {
        <label>
                    <input value="@item.Naam" name="vertrekKeuze" id="@item.Naam-Vertrek" type="radio" class="city-input" />
            <span>@item.Naam</span>
        </label>
    }
     
</div>
<br />

<h2>Kies jouw bestemming</h2>
<br />
<div class="radio-input">
        @foreach (var item in Model)
        {
        <label>
            <input value="@item.Naam" name="bestemmingKeuze" id="@item.Naam-Bestemming" type="radio" class="city-input"/>
            <span>@item.Naam</span>
        </label>
        }

</div>
<br />
<form asp-controller="Vlucht" asp-action="Index">
    <div class="date-fields">
        <div class="form-group">
            <label for="StartDate"></label>
            <input id="StartDate" name="StartDate" class="form-control" placeholder="Vertrekdatum" <!--readonly-->/>
        </div>
        <div class="form-group">
            <label for="EndDate"></label>
                <input id="EndDate" name="EndDate" class="form-control" placeholder="Vertrekdatum" <!--readonly-->/>
        </div>
    </div>



    <input type="hidden" name="Vertrek" value="" />
    <input type="hidden" name="Bestemming" value="" />
    <div class="buttonDiv">
        <button id="zieVluchtenLink">Zie vluchten</button>
    </div>
    
</form>
   
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
         $(() => {
            let minDate = new Date();
            let maxDate = new Date();
			minDate.setDate(minDate.getDate() + 3);
			maxDate.setMonth(maxDate.getMonth() + 6);
            let mindate;
            $("#StartDate").datepicker({
                beforeShowDay: $.datepicker.noWeekends,
                minDate: minDate,
                numberOfMonths: 2,
                dateFormat: 'yy-mm-dd',
                onSelect: (minDateStr) => {

                    mindate = minDateStr; // Get selected date
                    
                    $("#EndDate").datepicker('option', 'minDate',
                        minDateStr || '0');// Set other min, default to today // don't use $("#dateBack").datepicker({ minDate: min || '0' }); only for  initialization
                }
            });

            $("#EndDate").datepicker({
                minDate: minDate,
                numberOfMonths: 3,
                maxDate: maxDate,
                dateFormat: 'yy-mm-dd',
                onSelect: (maxDateStr) => {
                    if (maxDateStr !== null) {
                        console.log(maxDateStr);
                        let start = new Date(mindate);
                        let end = new Date(maxDateStr);
                        let days = (end - start)
                            / (1000 * 60 * 60 * 24);
                        
                        $("#DateResult").val(days);
                    }
                }
            });
        });
    </script>
}

<script>
    document.addEventListener("DOMContentLoaded",() => {
        var link = document.getElementById("zieVluchtenLink");

        link.addEventListener("click", function (event) {
            // Zoek de geselecteerde vertrekplaats
            var vertrekRadio = document.querySelector('input[name="vertrekKeuze"]:checked');
            var bestemmingRadio = document.querySelector('input[name="bestemmingKeuze"]:checked');
            if (!vertrekRadio) {
                alert("Kies een vertrekplaats.");
                event.preventDefault(); // stop klikken als niks gekozen is
                return;
            }
            if (!bestemmingRadio) {
                alert("Kies een bestemming.");
                event.preventDefault(); // stop klikken als niks gekozen is
                return;
            }
            var vertrek = vertrekRadio.value;
            var bestemming = bestemmingRadio.value;

            if(vertrek == bestemming){
				alert("Vertrekplaats en bestemming zijn gelijk.");
				event.preventDefault(); // stop klikken als niks gekozen is
				return;
			}
             
                document.querySelector("input[name='Vertrek']").value = vertrekRadio.value;
                document.querySelector("input[name='Bestemming']").value = bestemmingRadio.value;
        });
    });
</script>
