@model IEnumerable<Airlines.ViewModels.PlaatsVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/plaatsen.css" asp-append-version="true" />
<link rel="stylesheet" href="/css/VertrekplaatsKnoppen.css" asp-append-version="true" />

<p>Kies jouw vertrekplaats</p>
<br/>
<div class="flex-container">
    <div class="btn-group">
    @foreach (var item in Model)
    {
            <button class="btn" type="button">@item.Naam</button>
    }
    </div>
</div>
<br />

<p>Kies jouw bestemming</p>

<div class="flex-container">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("DisplayTemplates/_TilePlaatsView",item)
    }
</div>

@* 
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
 *@
