@model IEnumerable<Airlines.ViewModels.VluchtVM>

@{
    ViewData["Title"] = "Index";
}


<link rel="stylesheet" href="/css/vluchten.css" asp-append-version="true" />

        <div class="blokPagina">
            <h1>Vluchten:</h1>
            <p class="subtitelVluchten">Ontdek ons ruim aanbod (Gilwe on top)</p>

            <div class="alleVluchtenBlok">

                @foreach (var item in Model)
                {
                    <div class="vluchtKaart">
                        <img src="/images/bestemmingen/@(item.BestemmingNaam + ".jpg")" alt="@item.BestemmingNaam" />
                        <div class="inhoudVanVlucht">
                            <h3>@item.VertrekNaam -> @item.BestemmingNaam</h3>
                            <div class="tijden">
                                <p>🕒@item.TijdVertrek</p>
                                <p>🕒@item.TijdAankomst</p>
                            </div>
                            <div class="overstappen">

                                <p>✈️ Overstap komt hier</p>
                            </div>
                            <hr class="solid"><!--Kan blijkbaar zorgen voor mooie divider lijn zoals in swift-->
                            <div>
                                <p>🪑 @item.AantalTotalePlaatsen</p>
                                <p>Beginprijs: @item.BeginPrijs &euro;</p>
                            </div>
                            
                        </div>
                        <form asp-controller="Ticket" asp-action="Index" method="post">
                            <input type="hidden" name="VluchtId" value="@item.VluchtId" />
                            <input type="hidden" name="BeginPrijs" value="@item.BeginPrijs" />
                            <input type="hidden" name="TijdVertrek" value="@item.TijdVertrek" />
                            <input type="hidden" name="TijdAankomst" value="@item.TijdAankomst" />
                            <input type="hidden" name="VliegtuigNaam" value="@item.VliegtuigNaam" />

                            <input type="hidden" name="AantalTotalePlaatsen" value="@item.AantalTotalePlaatsen" />
                            <input type="hidden" name="AantalGewonePlaatsen" value="@item.AantalGewonePlaatsen" />
                            <input type="hidden" name="AantalBusinessPlaatsen" value="@item.AantalBusinessPlaatsen" />
                            <input type="hidden" name="AantalEconomyPlaatsen" value="@item.AantalEconomyPlaatsen" />
                            <input type="hidden" name="VertrekNaam" value="@item.VertrekNaam" />
                            <input type="hidden" name="OverstapNaam" value="@item.IsOverstap" />
                            <input type="hidden" name="BestemmingNaam" value="@item.BestemmingNaam" />
                            <button type="submit" class="vluchtButton">Boek deze vlucht</button>
                        </form>
                    </div>
                    
                }

            </div>
        </div>
    </tbody>
</table>
