@model Airlines.ViewModels.ShoppingCartVM


@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="/css/shoppingCart.css" asp-append-version="true" />
<div class="blokPagina">
    <h1><em>Review</em> your cart:</h1>

    @if (Model?.Carts?.Any() == true)



    {
        <div class="row">
            <div class="col navbar-brand"></div>
            <div class="col-6 navbar-text text-end">
                <small class="navbar-text">
                    <b>Your cart:</b> @*@Model.Carts.Sum(x => x.Count) item(s) -*@ @Model.ComputeTotalValue().ToString("c")
                </small>
            </div>
        </div>

        <form asp-action="Payment">
            <table class="shoppingCartTabel">
                <thead>
                    <tr>
                        <th>Voornaam</th>
                        <th>Achternaam</th>
                        <th>Prijs</th>
                        <th>Maaltijd</th>
                        <th>Reisklasse</th>
                        <th>Seizoen</th>
                    </tr>
                </thead>
                <tbody>
                    


                        @foreach (var (cartItem, index) in Model.Carts.Select((value, i) => (value, i)))

                        {
                            <tr>

                                <td>
                                    <input asp-for="@cartItem.Ticket.Voornaam" class="form-control" readonly />
                                </td>
                                <td>
                                    <input asp-for="@cartItem.Ticket.Achternaam" class="form-control" readonly />
                                </td>
                                <!--die asp-for zal ook id maken-->
                                <td>
                                    <input asp-for="@cartItem.Ticket.Prijs" type="number" class="form-control" readonly />
                                </td>
                                <td>
                                    <input asp-for="@cartItem.Ticket.Maaltijd.Naam" class="form-control" readonly />
                                </td>
                                <td>
                                    <input asp-for="@cartItem.Ticket.Reisklasse.SoortReisklasse" class="form-control" readonly />
                                </td>
                                @if (cartItem.Ticket.Seizoen != null)
                                {
                                    <td>
                                        <input asp-for="@cartItem.Ticket.Seizoen.SoortPeriode" class="form-control" readonly />
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <p>Geen seizoen actief</p>
                                    </td>
                                }
                                
                                
                                <td>
                                <a asp-action="Delete" class="deleteKnop" asp-route-plaatsInShoppingCart="@index">
                                    Delete
                                    </a>
                                </td>
                        
                            </tr>
                        }
                   
            </tbody>
        </table>
        </form>
        
        <div class="totaalStukje">
            <div class="col-md-6 text-end">
                <strong>Total: </strong>
                <input id="txtTotal" value="@Model.Carts.Sum(x => x.Ticket.Prijs)" class="form-control d-inline w-auto" readonly />
            </div>
                <div class="col-md-6">
                <form asp-controller="ShoppingCart" asp-action="PostData" method="post">
                    <input type="submit" value="Checkout" class="checkoutKnop" />
                </form>
                    
                </div>
        </div>
        
}

else

{
    <p>Your shopping cart is empty at the moment.</p>
}
</div>
