@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/beginpagina.css" asp-append-version="true" />
<div class="welkomBlokDiv">
<section class="welkomBlok">
    <img src="/images/vliegtuigBeginpagina.jpg" alt="Vliegtuig" />
    <h1>@Localizer["Welcome"].Value</h1>
    <p>@Localizer["Travel"].Value</p>
    
    <a class="zieVluchtenLink" asp-area="" asp-controller="Plaats" asp-action="Index">@Localizer["See-Flights"].Value</a>
</section>
</div>
<section class="missie">
    <h2>@Localizer["Mission-Title"].Value</h2>
    <p>@Localizer["Mission-Text"].Value</p>
</section>

<section class="info">
    <div class="infoDiv">
        <div class="infoblokje">
            <h3>@Localizer["Book-Flight-Title"].Value</h3>
            <p>@Localizer["Book-Flight-Text"].Value</p>
        </div>
        <div class="infoblokje">
            <h3>@Localizer["Meal-Title"].Value</h3>
            <p>@Localizer["Meal-Text"].Value</p>
        </div>
        <div class="infoblokje">
            <h3>@Localizer["Price-Title"].Value</h3>
            <p>@Localizer["Price-Text"].Value</p>
        </div>
    </div>
</section>
<section class="reisklasses">
    <h2>@Localizer["Travel-classes-Title"].Value</h2>
    <div class="inforeisklas">
        <h3>@Localizer["Travel-class-standard"].Value</h3>
        <p>
            @Localizer["Travel-class-standard-text"].Value
        </p>
    </div>
    <div class="inforeisklas">
        <h3>@Localizer["Travel-class-economical"].Value</h3>
        <p>
            @Localizer["Travel-class-economical-text"].Value
        </p>
    </div>
    <div class="inforeisklas">
        <h3>@Localizer["Travel-class-business"].Value</h3>
        <p>
            @Localizer["Travel-class-business-text"].Value
        </p>
    </div>
</section>
<section class="voorstelling">
    <h2>@Localizer["Origin-Title"].Value</h2>
    <div class="infoblokjeVoorstelling">
        <h3>@Localizer["Origin-Second-Title"].Value</h3>
        <p>
            @Localizer["Origin-Text"].Value
        </p>

    </div>
    <div class="infoblokjeVoorstelling">
        <h3>@Localizer["Concern-Title"].Value</h3>
        <p>
            @Localizer["Concern-Text"].Value
        </p>
    </div>
    
    <div class="infoblokjeVoorstelling">
        <h3>@Localizer["Founders-Title"].Value</h3>
        <p>
            @Localizer["Founders-Text"].Value
        </p>
    </div>
</section>
